&spi1{
        status = "okay";
        clock-frequency = <1000000>;
        adxl355:adxl355@0{
                compatible = "adi,adxl355";
                status = "okay";
                reg = <0>;
        };
};
